= link_to t(".sign_in"), new_session_path, :rel => :lazybox, :class => 'orange button' unless params[:controller] == 'sessions'
= link_to t(".sign_up"), new_user_path, :rel => :lazybox, :class => 'orange button'
= link_to t(".login_facebook"), facebook_url
