%tr.audience{:id => "audience_#{audience.id}"}
  %td= audience.title
  %td
    = link_to('edit', edit_schedule_audience_path(@schedule, audience), :rel => :lazybox)
    = link_to('×', schedule_audience_path(@schedule, audience), :method => :delete, :remote => true)
