@mixin rounded-corners($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

@mixin gradient($col1, $col2) {
  background: $col1;
	background: -webkit-gradient(linear, left top, left bottom, from($col1), to($col2));
  background: -moz-linear-gradient(top, $col1, $col2);
  background: -ms-linear-gradient($col1, $col2);
  background: linear-gradient($col1, $col2);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=$col1, endColorstr=$col2);
}

@mixin shadow($val) {
  box-shadow: $val;
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
}

@mixin transform {
  transform: rotate(5deg); 
  -ms-transform: rotate(5deg); 
  -moz-transform: rotate(5deg); 
  -webkit-transform: rotate(5deg); 
  -o-transform: rotate(5deg); 
}
