table {
  border-collapse: collapse;
  th {
    padding: 10px;
    color: #fff;
    border: 1px solid black;
    background-color: #9DD929;
    vertical-align: middle;
  }
  td {
    padding: 5px;
    background-color: #DEF3CA;
    border: 1px solid black;
    color: #666;
    min-width: 100px;
    min-height: 100px;
    a.add_lesson_link, a.add_replacement_link {
      text-decoration: none;
    }
  }
  th:empty, th.new_group {
    background: transparent;
    border: none;
  }
}
