table{
    border-collapse: collapse;
}

table th{
    padding: 10px;
    color: #fff;
    border: 1px solid black;
    background-color: #9DD929;
    vertical-align: middle;
}

table th:empty, table th.new_group {
    background: transparent;
    border: none;
}

table td{
    padding: 5px;
    background-color: #DEF3CA;
    border: 1px solid black;
    color: #666;
    min-width: 100px;
    min-height: 100px;
}
