%h1 Users page

- if @users.any?
  = form_tag admin_users_path do
    %table
      %thead
        %tr
          %th Email
          %th Name
          %th Type
          %th Institution
          %th= submit_tag 'Approve'
      %tbody
        = render :partial => 'user', :collection => @users, :as => :user
- else
  %h3 No Users
